@import vars


/*==========  Desktop First  ==========*/

@media (max-width: 1800px)


  .general-slider
    width: calc(100% - 50px)
    margin: 0 auto
    .owl-nav
      button.owl-prev, button.owl-next
        width: 60px
        height: 60px
        background-size: 16px 16px
      button.owl-prev
        left: -30px
      button.owl-next
        right: -30px

  .intro-socials
    right: auto
    top: auto
    left: 15px
    bottom: 30px
    flex-direction: row
    .soc-item
      margin-right: 12px

  .vertical-line
    display: none

@media (max-width: 1650px)

  .s-about
    padding-top: 50px

  .about-block
    top: 0
    padding-right: 50px
    padding-bottom: 50px

  .about-excerpt
    max-height: none

  .about-wrap
    padding-left: 0
    align-items: inherit

  .about-slider
    .owl-stage-outer
      height: 100%
    .owl-stage
      height: 100%
    .owl-item
      height: 100%
    .owl-nav
      left: 0
      bottom: 0

  .about-slide
    height: 100%

  .intro-slider
    &:after
      width: 15px


@media (max-width: 1500px)

  .about-slider
    width: 600px
    .owl-nav
      button.owl-prev, button.owl-next
        width: 80px
        height: 80px
        background-size: 16px 16px
      button.owl-next
        left: 80px


  .about-block
    width: calc(100% - 600px)
    padding-left: 100px
    .vertical-line
      left: -3px
    .section-title
      font-size: 36px
      span
        &:after
          width: 18px
          height: 18px

  .about-excerpt
    font-size: 16px

  .cat-item
    padding-bottom: 50px
    &-img
      padding: 0
      height: 220px
    &-title
      font-size: 20px

  .section-half-wrapper
    .content
      width: 900px

  .cat-item
    &-title
      padding: 0

  .s-first
    padding-top: 113px

  .intro-slide
    height: 750px
    &-content
      padding-left: 90px
      padding-top: 260px
    &-desc
      font-size: 18px
    h1
      font-size: 70px
    &:after
      height: 555px
    &-curve
      top: 430px

  .intro-slider
    &:after
      height: 555px

  .intro-count
    left: 105px
    bottom: 50px

  .main-head
    padding: 25px 0 30px
    .logo
      width: 200px

  .main-mnu
    li
      font-size: 16px
      ul
        padding-left: 60px
        li
          font-size: 18px
          margin-bottom: 25px
          &:before
            width: 12px
            height: 12px
            left: -22px

@media (max-width: 1300px)
  .main-mnu
    display: none

  .hamburger
    display: block

// ≥1200px
+media-breakpoint-down(lg)

  .s-index-reviews
    padding-top: 50px

  .s-index-services
    .decor-img
      right: 0
      top: -150px
      .svg
        width: 400px

  .about-wrap
    flex-direction: column-reverse

  .about-block
    width: 100%

  .about-slider
    width: 100%
    height: 600px

  .general-slider
    width: calc(100% - 30px)
    .owl-stage-outer
      padding-top: 30px
      padding-bottom: 30px
    //.owl-nav
    //  button.owl-prev
    //    left: -15px
    //  button.owl-next
    //    right: -15px

  .s-index-catalog
    top: -200px
    margin-bottom: -200px

  .section-half-wrapper
    .content
      font-size: 16px
      width: 700px

  .to-all
    .icon
      width: 44px
      height: 44px
    .svg
      width: 20px
    .text
      font-size: 18px

  .intro-slide
    height: 650px
    &-content
      padding-left: 50px
    h1
      font-size: 56px
      padding-right: 150px
      margin-bottom: 40px
      &:after
        width: 200px
        bottom: -40px
    &-desc
      padding-right: 150px
      padding-left: 20px
      font-size: 16px
    &:after
      width: 65%
      height: 450px
    &-curve
      font-size: 14px
      top: 370px
      right: 75px
      .svg
        width: 40px

  .intro-socials
    display: none


  .intro-count
    font-size: 30px
    left: 65px

  .intro-slider
    &:before
      width: 65%
    &:after
      width: calc((100vw - 930px)/2)
      height: 450px


  .intro-navigation
    font-size: 16px
    width: calc(100% - 60px)
    transform: none
    left: 30px
    top: 25px

// ≥992px
+media-breakpoint-down(md)

  .s-index-reviews
    .section-half-wrapper
      .content
        padding-left: 0
        text-align: left
    .section-title
      text-align: left
      span
        padding-left: 0
        &:after
          position: relative
          bottom: auto
          transform: none

  .review-slide
    a
      padding: 0
      &:hover
        box-shadow: none
    &-title
      margin-bottom: 10px

  .s-index-services
    padding-top: 50px
    padding-bottom: 50px
    .btn-wrap
      display: block

  .about-slider
    height: 400px

  .about-block
    padding-top: 50px
    .section-title
      font-size: 32px
      span
        &:after
          width: 17px
          height: 17px

  .general-slider
    .owl-stage-outer
      padding-left: 0
      padding-right: 0
      left: 0
      width: 100%

  .cat-item
    &-curve
      display: none

  .s-index-catalog
    padding-top: 130px
    .btn-wrap
      display: block

  .section-title
    font-size: 32px
    span
      &:after
        width: 17px
        height: 17px

  .section-half-wrapper
    .content
      width: 100%
      padding-right: 0
    .to-all
      display: none!important


  .s-first
    padding-top: 101px

  .intro-slide
    h1
      font-size: 36px
    &-content
      padding-top: 200px
    &-desc
      font-size: 14px
      padding-right: 50px
    &-curve
      top: 250px
      font-size: 11px

  .intro-forward
    display: none

  .intro-slider
    &:before
      display: none
    &:after
      width: calc((100vw - 690px)/2)

  .intro-nav
    &-prev, &-next
      span
        display: none

  .main-head
    .container
      flex-wrap: wrap
    .logo
      width: 160px

  .head-contacts
    .btn
      font-size: 14px
      padding: 10px
      width: 200px
    .phone
      font-size: 18px



// ≥768px
+media-breakpoint-down(sm)

  .cat-item
    padding: 35px 25px
    &-img
      height: 180px
      margin-bottom: 10px
    &-title
      font-size: 16px

  .intro-slider
    &:after
      width: calc((100vw - 510px)/2)
      height: 400px

  .intro-count
    font-size: 20px
    left: 45px
    bottom: 30px

  .intro-slide
    height: 500px
    &-content
      padding-top: 150px
      padding-left: 30px
    h1
      font-size: 28px
      margin-bottom: 25px
      padding-right: 100px
      &:after
        width: 150px
        bottom: -25px
    &:after
      height: 400px
    &-desc
      font-size: 12px
    &-curve
      font-size: 6px
      top: 150px
      right: 50px
      .svg
        width: 25px

  .head-contacts
    order: 2
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 20px
    display: none

// ≥480px
+media-breakpoint-down(xs)

  .review-slide
    &-title
      font-size: 14px
    &-img
      height: 240px

  .s-index-services
    .decor-img
      right: 0
      top: -50px
      .svg
        width: 300px

  .s-about
    .decor-img
      .svg
        width: 320px

  .about-block
    padding-left: 15px
    padding-right: 15px
    .vertical-line
      display: none !important
    .section-title
      font-size: 24px
      span
        width: 13px
        height: 13px

  .general-slider
    width: 100%
    margin: 25px 0
    .owl-stage-outer
      padding: 0
    .owl-nav
      button.owl-prev, button.owl-next
        width: 46px
        height: 46px
      button.owl-prev
        left: -15px
      button.owl-next
        right: -15px

  .cat-item
    padding: 35px
    &-img
      height: 200px
      margin-bottom: 20px

  .section-title
    font-size: 24px
    span
      &:after
        height: 13px
        width: 13px

  .intro-slider
    &:after
      width: 15px

  .intro-navigation
    font-size: 16px
    text-align: center

  .intro-slide
    h1
      font-size: 22px
      margin-bottom: 40px
      &:after
        display: none
    &-desc
      width: 70%
      padding-right: 15px

  .main-head
    padding: 10px 0 15px

  .head-contacts
    display: none
    .btn
      width: 160px
      margin-left: 0

@media (max-width: 390px)

  .review-slide
    &-img
      height: 400px

  .about-slider
    height: 300px
    .owl-nav
      button.owl-prev, button.owl-next
        width: 40px
        height: 40px
        background-size: 12px 12px
      button.owl-next
        left: 40px

  .about-excerpt
    font-size: 14px

  .to-all
    .icon
      width: 36px
      height: 36px
      margin-right: 10px
    .svg
      width: 16px
    .text
      font-size: 14px

  .section-half-wrapper
    .content
      font-size: 14px

  .intro-slide
    &-content
      padding-left: 15px
    h1
      font-size: 18px
    &-desc
      font-size: 10px

  .intro-count
    left: 30px

  .intro-navigation
    font-size: 14px

  .mm-logo
    width: 160px

  .mobile-contacts
    .btn
      font-size: 16px
      width: 200px

  .head-contacts
    flex-direction: column
    .phone
      margin-bottom: 12px
    .btn
      width: 200px



/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
